@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background: #e0e0e0; */
  background: #f0f0f0;
  color: #000000;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInLeft {
  animation: fadeInLeft 0.8s ease-out forwards;
}
.animate-fadeInRight {
  animation: fadeInRight 0.8s ease-out forwards;
}
.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

.float-animation {
  animation: float 6s ease-in-out infinite;
}

.typing {
  display: inline-block;
  overflow: hidden;
  white-space: normal;
  border-right: 3px solid #06b6d4;
  width: 0;
  animation: typing 8s steps(var(--n, 230), end) forwards,
    blink 0.75s step-end infinite;
}

.typewriter-cursor {
  display: inline-block;
  width: 2px;
  background: cyan;
  margin-left: 2px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
